<h1>Welcome to StellarGuard.</h1>
<p>
You are just a few short steps away from having your XLM protected.
<p>
In order for you to authorize transactions via email, you must first verify your email.
</p>
<p>
To verify your email go to: <a href="<%- locals.verifyEmailUrl %>"><%- locals.verifyEmailUrl %></a>.
</p>