<div>
  <h1>
    Authorize your Stellar Transaction
  </h1>
  <p>Go to: <a href="<%- locals.authorizeUrl %>"><%- locals.authorizeUrl %></a> to view, authorize, and submit this transaction.
  <% if(locals.code) { %>
  <p>You authorization code is: <b><%= locals.code %></b></p>
  <p>This code is valid for 24 hours.</p>
  <% } %>
</div>
