{
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
    "transform-decorators"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "> 1%"]
        },
        "useBuiltIns": "entry"
      }
    ],
    "react"
  ]
}
