# OS cruft
.DS_Store

# Node/NPM stuff
node_modules
yarn-error.log
npm-error.log

# build artifacts
.cache
dist

# this is built from a template
app.yaml

# user-specific environment files that should not be checked in
.env.dev.local
.env.test
.env.prod

# IDE
.vscode

# misc
Notes.md