<div>
  <h1>
    A Stellar transaction has been submitted and requires authorization.
  </h1>
  <p>To view, authorize, and submit this transaction, go to: <a href="<%- locals.authorizeUrl %>"><%- locals.authorizeUrl %></a>
</div>