<p>You've asked to reset your password for the StellarGuard account associated with this email address (<%= locals.email %>). To get the password reset code, please click on the following link:</p>
<p><%- locals.resetPasswordUrl %></p>
<p>You can also copy and paste the link above into a new browser window.</p>
</p>Or enter the reset code directly into the password page:</p>
<p><%= locals.code %></p>
<p>This password change code will expire 2 hours from the time this email was sent.</p>
<p>If you didn't make the request, you can ignore this email and do nothing. Another user likely entered your email address by mistake while trying to reset a password.</p>
<p>Thank you for using StellarGuard.</p>