<div>
  <h1>
    Changing your transaction security level
  </h1>
  <p>Your current transaction security level requires that you enter a code sent to your email when authorizing transactions.</p>
  <p>To change your transaction security level, we also require that you enter a code to verify this change.</p>
  <p>Your code is: <b><%= locals.code %></b> - please copy and paste it into the email authorization dialog.</p>
  <p>This code is valid for 24 hours.</p>
</div>
