Changing your transaction security level

Your current transaction security level requires that you enter a code sent to your email when authorizing transactions.</p>

To change your transaction security level, we also require that you enter a code to verify this change.</p>

Your code is: <%= locals.code %> - please copy and paste it into the email authorization dialog.</p>